* {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body {
    padding: 2em 2em;
}

header {
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.box-container {
    height: auto;
}

.box__gray {
    position: absolute;
    top: 0;
    right: 0;
    left: 260px;
    background-color: #ececec;
    z-index: -1;
    width: 81%;
    height: 81%;
}


.nav-item-project {
    margin-left: 21%;
    margin-right: 21%;
}

.row__name {
    margin-left: 5rem;
}

.row__name h1 {
    font-size: 6rem;
    font-weight: bold;
}

.row__description {
    border-left: 3px solid #9c9c9c;
    padding-top: 5rem;

}
.row__description p {
    padding-left: 2.5rem;
    font-size: 1rem;
}

.horizontal__list {
    display: flex;
    justify-content: flex-start;
    padding-left: 2.5rem;
}

.horizontal__list li {
    list-style: none;
    padding-right: 1.5rem;
}

.work {
    padding-top: 240px;
    padding-left: 65px;
}

.work__left {
    padding-top: 60px;
}

.work__right {
    padding-top: 60px;
}

.work h1 {
    font-size: 4rem;
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    
    font-size: 1.2rem;

}

.work__date {
    font-weight: bold;
    color: rgb(70, 68, 68);
    padding-bottom: 100px;
}

.projects h1 {
    font-size: 4rem;
    font-weight: bold;
}

.projects {
    padding-top: 50px;
    padding-left: 65px;
}