* {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 2em 2em;
}

header {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.nav-item-project {
    margin-left: 21%;
    margin-right: 21%;
}